body {
	background-color: #d7ffff;
}

.header {
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	line-height: 36px;
	margin: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 3px;
}

.head-menu {
	text-align: center;
}

.left-column {
float:left;
width:216px;
height:auto;
margin:0px 10px 0px 0px;
}

.menu {
float:left;
width:200px;
height:auto;
border:thick double #c0c0c0;
margin:0px 0px 3px 0px;
background-color: white;
padding: 3px;
}

.search-box {
float:left;
width:200px;
height:auto;
border:thick double #c0c0c0;
margin:0px 0px 0px 0px;
background-color: white;
padding: 3px;
}

.main-contents {
text-align: center;
float:center;
height:auto;
margin:0px 0px 0px 0px;
}

.main-column {
text-align: left;
float:left;
width:816px;
height:auto;
margin:0px 0px 0px 0px;
}

.posts {
float:left;
width:816px;
height:auto;
margin:0px 0px 0px 0px;
padding: 0px;
}

.post {
float:left;
width:800px;
height:auto;
border:thick double #c0c0c0;
margin:0px 0px 0px 0px;
background-color: white;
padding: 3px;
}
.date {
	float: right;
	text-align: right;
}
.user {
	float: left;
	text-align: left;
}
.comments {
float:left;
width:800px;
height:auto;
border:thick double #c0c0c0;
margin:0px 0px 0px 0px;
background-color: white;
padding: 3px;
}

.comment-box {
float:left;
width:800px;
height:auto;
border:thick double #c0c0c0;
margin:0px 0px 30px 0px;
background-color: white;
padding: 3px;
}

.copyright {
	text-align: center;
	clear:both;
	margin-left:auto;
	margin-right:auto;
}

.label {
	display: block;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

table {
	align: center;
	text-align: center;
	border-collapse: collapse;
	margin: 0px auto;
}

table th {
	padding: 3px;
	color: #ff9800;
	background-color:#fff5e5;
	border: solid 1px black;
}

table td {
	padding: 3px;
	background-color:#ffffff;
	border: solid 1px black;
}